### 01. Importing libraries

In [5]:
# import libraries
import pandas as pd
import numpy as np
import os

### 02. Importing data

In [6]:
#import original data from my non-icloud folder
df = pd.read_csv(r'/Users/profkdfischer/Instacart Basket Analysis/02 Data/Original Data/orders.csv', index_col = False)

In [7]:
# turn project folder path into a string
path = r'/Users/profkdfischer/Instacart Basket Analysis'

In [8]:
# use the os library join and the path to import orders.csv
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [9]:
#create a vars_list shortcut of column names omitting the eval_set column
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

In [10]:
#Import the “orders.csv” data set using the os library and the vars_list shortcut
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), usecols = vars_list)

In [11]:
#print the first 5 rows of orders.csv
df.head(5)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [12]:
# Import the “products.csv” file using the path variable
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [14]:
# print the first 20 rows of products.csv
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [ ]:
# print the last 35 rows of products.csv
df_prods.tail(35)

In [ ]:
# print the names of the columns in products.csv
df_prods.columns

In [15]:
# print the numbers of rows and columns in products.csv
df_prods.shape

(49693, 5)

In [16]:
# print the numbers of rows and columns in orders.csv
df_orders.shape

NameError: name 'df_orders' is not defined

### maximum value of the “aisle_id” column:  134.0

In [ ]:
# What’s the maximum value of the “aisle_id” column?
df_prods.describe()

### data type of the "department_id" column:  int64

In [ ]:
# What’s the data type of the “department_id” column?
df_prods.dtypes