<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Exercise-4.10_Part-1:-Instacart-customer-profiling" data-toc-modified-id="Exercise-4.10_Part-1:-Instacart-customer-profiling-1">Exercise 4.10_Part 1: Instacart customer profiling</a></span><ul class="toc-item"><li><span><a href="#Table-of-Contents" data-toc-modified-id="Table-of-Contents-1.1">Table of Contents</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#1.2-Import-Libraries" data-toc-modified-id="1.2-Import-Libraries-1.1.0.1">1.2 Import Libraries</a></span></li><li><span><a href="#Task-Questions-1-4" data-toc-modified-id="Task-Questions-1-4-1.1.0.2">Task Questions 1-4</a></span></li></ul></li></ul></li><li><span><a href="#Import-Libraries" data-toc-modified-id="Import-Libraries-1.2">Import Libraries</a></span></li><li><span><a href="#Task-Questions-1---4" data-toc-modified-id="Task-Questions-1---4-1.3">Task Questions 1 - 4</a></span><ul class="toc-item"><li><span><a href="#Q1:-Import-the-dataset-from-Part-1-of-the-Exercise-4.9-comprising-the-cleaned-orders_products-merged-with-the-customers-df" data-toc-modified-id="Q1:-Import-the-dataset-from-Part-1-of-the-Exercise-4.9-comprising-the-cleaned-orders_products-merged-with-the-customers-df-1.3.1">Q1: Import the dataset from Part 1 of the Exercise 4.9 comprising the cleaned orders_products merged with the customers df</a></span></li><li><span><a href="#Q2:-Consider-any-security-implications-that-might-exist-for-this-new-data.-You’ll-need-to-address-any-PII-data-in-the-data-before-continuing-your-analysis." data-toc-modified-id="Q2:-Consider-any-security-implications-that-might-exist-for-this-new-data.-You’ll-need-to-address-any-PII-data-in-the-data-before-continuing-your-analysis.-1.3.2">Q2: Consider any security implications that might exist for this new data. You’ll need to address any PII data in the data before continuing your analysis.</a></span></li><li><span><a href="#Q3-Part-1:-Create-a-regional-segmentation-of-the-data.-You’ll-need-to-create-a-“Region”-column-based-on-the-“State”-column-from-your-customers-data-set." data-toc-modified-id="Q3-Part-1:-Create-a-regional-segmentation-of-the-data.-You’ll-need-to-create-a-“Region”-column-based-on-the-“State”-column-from-your-customers-data-set.-1.3.3">Q3 Part 1: Create a regional segmentation of the data. You’ll need to create a “Region” column based on the “State” column from your customers data set.</a></span></li><li><span><a href="#Q3-Part-2:-Determine-whether-there’s-a-difference-in-spending-habits-between-the-different-U.S.-regions.-(Hint:-You-can-do-this-by-crossing-the-variable-you-just-created-with-the-spending-flag.)" data-toc-modified-id="Q3-Part-2:-Determine-whether-there’s-a-difference-in-spending-habits-between-the-different-U.S.-regions.-(Hint:-You-can-do-this-by-crossing-the-variable-you-just-created-with-the-spending-flag.)-1.3.4">Q3 Part 2: Determine whether there’s a difference in spending habits between the different U.S. regions. (Hint: You can do this by crossing the variable you just created with the spending flag.)</a></span></li><li><span><a href="#Q4:-Create-an-exclusion-flag-for-low-activity-customers-(customers-with-less-than-5-orders)-and-exclude-them-from-the-data.-Make-sure-you-export-this-sample." data-toc-modified-id="Q4:-Create-an-exclusion-flag-for-low-activity-customers-(customers-with-less-than-5-orders)-and-exclude-them-from-the-data.-Make-sure-you-export-this-sample.-1.3.5">Q4: Create an exclusion flag for low-activity customers (customers with less than 5 orders) and exclude them from the data. Make sure you export this sample.</a></span></li></ul></li></ul></li></ul></div>

# Exercise 4.10_Part 1: Instacart customer profiling

## Table of Contents

#### 1.2 Import Libraries

#### Task Questions 1-4

##### Q1: Import the dataset from Part 1 of the Exercise 4.9 comprising the cleaned orders_products merged with the customers df

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sn
import scipy

***

## Task Questions 1 - 4

***

### Q1: Import the dataset from Part 1 of the Exercise 4.9 comprising the cleaned orders_products merged with the customers df

In [2]:
# make a path
path = r'/Users/profkdfischer/Instacart Basket Analysis'

In [ ]:
# import the ords_prods that includes customers
insta_final = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods.pkl'))

In [4]:
# display all the columns in the head() function
pd.set_option('display.max_columns', None)

In [5]:
# check the head
insta_final.head()

,order_id,user_id,order_number,orders_day_of_week,orders_time,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_period_of_day,max_order,loyalty_flag,spending_mean,spending_flag,user_frequency,spend_status,First Name,Last Name,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,10,New customer,6.367797,Low Spender,NaN,NaN,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367797,Low Spender,13.0,Frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797,Low Spender,10.0,Frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367797,Low Spender,20.0,Frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both

In [6]:
# drop the _merge flag (not needed since the merge was on "inner" and all values will be "both")
insta_final.drop('_merge', axis=1, inplace=True)

In [ ]:
# check the shape
insta_final.shape

In [8]:
# check the columns
insta_final.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'orders_time', 'days_since_prior_order', 'new_customer', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_range_loc', 'busiest_day',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'spending_mean',
       'spending_flag', 'user_frequency', 'spend_status', 'First Name',
       'Last Name', 'Gender', 'STATE', 'Age', 'date_joined', 'n_dependants',
       'fam_status', 'income'],
      dtype='object')

### Q2: Consider any security implications that might exist for this new data. You’ll need to address any PII data in the data before continuing your analysis.

In [ ]:
# remove columns with first name, last name, email, etc..
if 'First Name' in insta_final:
    insta_final = insta_final.drop('First Name', axis=1)
if 'Last Name' in insta_final:
    insta_final = insta_final.drop('Last Name', axis=1)

In [10]:
# check the new list of columns
insta_final.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'orders_time', 'days_since_prior_order', 'new_customer', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_range_loc', 'busiest_day',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'spending_mean',
       'spending_flag', 'user_frequency', 'spend_status', 'Gender', 'STATE',
       'Age', 'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')

In [ ]:
# check the new shape
insta_final.shape

Q2 comment: We don't need the first and last names of the customers and these should be removed anyways, as they are PII data. Therefore, we removed 2 columns.

### Q3 Part 1: Create a regional segmentation of the data. You’ll need to create a “Region” column based on the “State” column from your customers data set.

In [12]:
# assign each state to one of the 4 regions (according to Wikipedia)

def assign_region(row):

    if row['STATE'] in ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island',
                 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']:
        return 'Northeast'
    elif row['STATE'] in ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 
                   'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 
                   'Minnesota', 'Iowa', 'Missouri']:
        return 'Midwest'
    elif row['STATE'] in ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 
                   'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 
                   'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 
                   'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']:
        return 'South'
    elif row['STATE'] in ['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 
                   'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 
                   'California', 'Hawaii']:
        return 'West'
    else:
        return 'Other'

In [13]:
# create a new column with "region" indicated next to "state" 
insta_final['Region'] = insta_final.apply(assign_region, axis = 1)

In [14]:
# check the new columns
insta_final.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'orders_time', 'days_since_prior_order', 'new_customer', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_range_loc', 'busiest_day',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'spending_mean',
       'spending_flag', 'user_frequency', 'spend_status', 'Gender', 'STATE',
       'Age', 'date_joined', 'n_dependants', 'fam_status', 'income', 'Region'],
      dtype='object')

In [15]:
# check the new head
insta_final.head()

,order_id,user_id,order_number,orders_day_of_week,orders_time,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_period_of_day,max_order,loyalty_flag,spending_mean,spending_flag,user_frequency,spend_status,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,Region
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,10,New customer,6.367797,Low Spender,NaN,NaN,Female,Alabama,31,2/17/2019,3,married,40423,South
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367797,Low Spender,13.0,Frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797,Low Spender,10.0,Frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367797,Low Spender,20.0,Frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South

In [16]:
insta_final['Region'].value_counts(dropna = False)

Region
South        10791885
West          8292913
Midwest       7597325
Northeast     5722736
Name: count, dtype: int64

In [17]:
# check the shape
insta_final.shape

(32404859, 31)

### Q3 Part 2: Determine whether there’s a difference in spending habits between the different U.S. regions. (Hint: You can do this by crossing the variable you just created with the spending flag.)

In [18]:
# create a crosstab with regions as rows and spending_flag as columns
crosstab = pd.crosstab(insta_final['Region'], insta_final['spending_flag'], dropna = False)
crosstab['High_to_Low_Ratio'] = crosstab['High Spender'] / crosstab['Low Spender']

In [19]:
# check the association between region and spending
crosstab

spending_flag  High Spender  Low Spender  High_to_Low_Ratio
Region
Midwest              155975      7441350           0.020961
Northeast            108225      5614511           0.019276
South                209691     10582194           0.019815
West                 160354      8132559           0.019718

Q3 comment: 
The ratio of high to low spenders is similar over the 4 regions.

### Q4: Create an exclusion flag for low-activity customers (customers with less than 5 orders) and exclude them from the data. Make sure you export this sample.

In [20]:
# flag customers with number of orders less than 5 as 'low activity'
insta_final.loc[insta_final['max_order'] < 5, 'exclusion_flag'] = 'low activity customer'

/var/folders/s0/b631rndx6sv1py5f9s6wc7y00000gn/T/ipykernel_2700/3756863051.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'low activity customer' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  insta_final.loc[insta_final['max_order'] < 5, 'exclusion_flag'] = 'low activity customer'

In [21]:
# flag customers with number of orders more than 5 as 'high activity'
insta_final.loc[insta_final['max_order'] >= 5, 'exclusion_flag'] = 'high activity customer'

In [22]:
# check the value counts
insta_final['exclusion_flag'].value_counts(dropna = False)

exclusion_flag
high activity customer    30964564
low activity customer      1440295
Name: count, dtype: int64

In [23]:
# create a dataframe of only high activity customers - call it active_customers
active_customers = insta_final[insta_final['exclusion_flag'] == 'high activity customer']

In [24]:
active_customers['Region'].value_counts(dropna = False)

Region
South        10311139
West          7927227
Midwest       7261513
Northeast     5464685
Name: count, dtype: int64

In [25]:
# export the active_customers df
active_customers.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'active_customers.pkl'))