## Exercise 4.6 - Combining orders and products

### Importing Libraries

In [21]:
# importing libraries
import pandas as pd
import numpy as np
import os

### Importing Data

In [28]:
# import the combined orders df (it contains df_ords plus df_ords_prior)
path = r'/Users/profkdfischer/Instacart Basket Analysis'
df_orders_products_combined = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.csv'), index_col = False)

In [29]:
# check it
df_orders_products_combined.shape

(32434489, 15)

In [42]:
# check the top 5 rows
df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,orders_time,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,True,196,1,0
1,2539329,1,prior,1,2,8,NaN,True,14084,2,0
2,2539329,1,prior,1,2,8,NaN,True,12427,3,0
3,2539329,1,prior,1,2,8,NaN,True,26088,4,0
4,2539329,1,prior,1,2,8,NaN,True,26405,5,0

In [44]:
# drop the "_merge" and "Unnamed: 0.2" and "Unnamed: 0.1" and "eval_set" and "Unnamed: 0" columns
if 'eval_set' in df_orders_products_combined:
    df_orders_products_combined = df_orders_products_combined.drop('eval_set', axis=1)

if 'Unnamed: 0' in df_orders_products_combined:
    df_orders_products_combined = df_orders_products_combined.drop('Unnamed: 0', axis=1)
    
if 'Unnamed: 0.1' in df_orders_products_combined:
    df_orders_products_combined = df_orders_products_combined.drop('Unnamed: 0.1', axis=1)
    
if 'Unnamed: 0.2' in df_orders_products_combined:
    df_orders_products_combined = df_orders_products_combined.drop('Unnamed: 0.2', axis=1)
    
if '_merge' in df_orders_products_combined:
    df_orders_products_combined = df_orders_products_combined.drop('_merge', axis=1)

In [45]:
# check the top 5 rows
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,orders_time,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,True,196,1,0
1,2539329,1,1,2,8,NaN,True,14084,2,0
2,2539329,1,1,2,8,NaN,True,12427,3,0
3,2539329,1,1,2,8,NaN,True,26088,4,0
4,2539329,1,1,2,8,NaN,True,26405,5,0

In [46]:
# check the shape
df_orders_products_combined.shape

(32434489, 10)

In [57]:
# list the columns
df_orders_products_combined.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'orders_time', 'days_since_prior_order', 'new_customer', 'product_id',
       'add_to_cart_order', 'reordered'],
      dtype='object')

In [47]:
# import the cleaned products df
path = r'/Users/profkdfischer/Instacart Basket Analysis'
df_products_consistent = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_consistent.csv'), index_col = False)

In [48]:
# check it
df_products_consistent.shape

(49672, 6)

In [49]:
# check the top 5 rows
df_products_consistent.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [50]:
# drop the "Unnamed: 0" column
if 'Unnamed: 0' in df_products_consistent:
    df_products_consistent = df_products_consistent.drop('Unnamed: 0', axis=1)

In [51]:
# check the top 5 rows
df_products_consistent.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [39]:
# check it
df_products_consistent.shape

(49672, 5)

In [58]:
# list the columns
df_products_consistent.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

### Merging Orders and Products

In [59]:
# merge products into orders (inner join) on the product_id
df_orders_products_merged = df_orders_products_combined.merge(df_products_consistent, on='product_id', indicator=True)

In [60]:
# check the orders_products_merged df
df_orders_products_merged.head()

,order_id,user_id,order_number,orders_day_of_week,orders_time,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both

In [61]:
# check the indicator flags
df_orders_products_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [62]:
# check the shape of the merged orders_products df
df_orders_products_merged.shape

(32404859, 15)

### Exporting the merged orders_products df

In [63]:
# export df_merged_large_shape as a .csv file
df_orders_products_merged.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.csv'))

In [64]:
# export df_merged_large_shape as a .pkl file
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))